@using BlogApp.Web.Models.DTOs
@model IEnumerable<CommentDTO>

@if (Model.Any())
{
    <div class="w98-border flex flex-col gap-[.5rem] bg-[#C0C0C0] px-3 py-2">
        @foreach (var comment in Model)
        {
            <div class="w98-row">
                <div class="w98-label">Name:</div>
                <div class="w98-input w-[160px]">@comment.Name</div>
                <div class="w98-label">Comment:</div>
                <div class="w98-input w-[160px]">@comment.Text</div>
                <div class="w98-label">Date:</div>
                <div class="w98-input">@comment.DatePosted.ToString("d")</div>
                <a class="w98-btn" href="./@comment.Token">Delete</a>
            </div>
        }
    </div>
}