@{
    ViewData["Title"] = "Create New Post";
}
@using BlogApp.Web.Models.ViewModels
@model CreatePostViewModel

<div class="flex h-full w-full items-center justify-center">
    <form asp-action="CreatePost" class="w98-border flex max-w-[400px] flex-col gap-[1rem] bg-[#C0C0C0] px-5 py-4">
        <div class="w98-row">
            <label asp-for="Title" class="w98-label">Title:</label>
            <input asp-for="Title" class="w98-input" />
        </div>
        <div class="w98-row">
            <label asp-for="Body" class="w98-label">Body:</label>
            <textarea asp-for="Body" class="w98-textarea"></textarea>
        </div>
        <div class="w98-row">
            <label asp-for="AdminKey" class="w98-label">Key:</label>
            <input asp-for="AdminKey" class="w98-input" />
        </div>
        <div class="w98-row mt-4 justify-center!">
            <button type="submit" class="w98-btn">OK</button>
            <button type="button" id="cancel" class="w98-btn">Cancel</button>
        </div>
        <div class="text-center text-sm text-red-500" asp-validation-summary="All"></div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.querySelector("#cancel").addEventListener("click", () => window.location.href = "/");
    </script>
}