@using BlogApp.Web.Models.ViewModels
@{
    ViewData["Title"] = "Delete Post";
}
@model DeleteCommentViewModel

<div class="flex h-full w-full items-center justify-center">
    <form asp-action="DeleteComment" class="w98-border flex max-w-[400px] flex-col gap-[1rem] bg-[#C0C0C0] px-5 py-4">
        <div class="w98-row">
            <label asp-for="Author" class="w98-label">Author:</label>
            <input asp-for="Author" class="w98-input" disabled value="@Model.Author" />
            <input type="hidden" asp-for="Author" />
        </div>
        <div class="w98-row">
            <label asp-for="Comment" class="w98-label">Comment:</label>
            <input asp-for="Comment" class="w98-input" disabled value="@Model.Comment" />
            <input type="hidden" asp-for="Comment" />
        </div>
        <div class="w98-row">
            <label asp-for="DatePosted" class="w98-label">Date Posted:</label>
            <input asp-for="DatePosted" type="datetime" class="w98-input" disabled value="@Model.DatePosted.ToString("d")" />
            <input type="hidden" asp-for="DatePosted" />
        </div>
        <div class="w98-row">
            <label asp-for="AdminKey" class="w98-label">Key:</label>
            <input asp-for="AdminKey" class="w98-input" />
        </div>
        <input type="hidden" asp-for="Token" />
        <div class="w98-fieldset mt-2 flex flex-col items-center justify-center">
            <p class="text-sm">Are you sure you want to delete this comment?</p>
            <div class="mt-2">
                <button type="submit" class="w98-btn">OK</button>
                <a href="/" class="w98-btn">Cancel</a>
            </div>
        </div>
        <div class="text-center text-sm text-red-500" asp-validation-summary="All"></div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}