@using BlogApp.Web.Models.ViewModels
@model DetailsViewModel

<div class="flex min-h-full w-full flex-col items-center justify-center gap-[2rem] py-3">
    <div class="w98-border flex flex-col gap-[.5rem] bg-[#C0C0C0] px-5 py-4">
        <div class="w98-row">
            <label asp-for="Title" class="w98-label">Title:</label>
            <input asp-for="Title" class="w98-input" disabled />
        </div>
        <div class="w98-row">
            <label asp-for="Body" class="w98-label">Body:</label>
            <textarea asp-for="Body" class="w98-textarea resize!" disabled></textarea>
        </div>
        <div class="w98-row justify-center!">
            <a href="/" class="w98-btn">Go back</a>
        </div>
    </div>
    @{
        var commentModel = ViewData["CommentModel"] as CreateCommentViewModel 
            ?? new CreateCommentViewModel { Slug = Model.Slug };
    }
    <partial name="_CommentForm" model="@commentModel" />
    <partial name="_CommentView" model="@Model.Comments" view-data="new(ViewData)" view-data-slug="@Model.Slug" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}