@{
    ViewData["Title"] = "Tony's Blog";
}
@using BlogApp.Web.Models.DTOs
@model IEnumerable<PostDTO>

<div class="grid-cont justify-center p-[1rem] text-center sm:justify-normal md:p-[2rem] lg:p-[3rem]">
    @foreach (var post in Model)
    {
        <div data-slug="@post.Slug" class="grid-item p-[1.75rem] sm:p-[1.5rem] md:p-[1.25rem] lg:p-[1rem]">
            <a href="posts/@post.Slug" class="flex flex-col gap-[1rem]">
                <img src="/img/scrap.png" class="px-[33%] sm:p-[1.75rem] md:p-[1.5rem] lg:p-[1rem]" />
                <p>@post.Title</p>
            </a>
        </div>
    }
</div>

@section Scripts {
    <script src="/js/index.js" asp-append-version="true"></script>
}